// Add your own

body {
  position: relative;
}

/* Custom Nav style in Desktop only */
@media (min-width: 992px)  {
  .navbar-default.affix {
    height: 50px;
  }
  .navbar-default.affix .navbar-nav,
  .navbar-default.affix .navbar-brand {
      padding-top: 5px;
      padding-bottom: 5px;
  }

  .navbar-default.affix .navbar-brand.logo-image {
    width: 200px;
  }
  .navbar-default.affix .navbar-brand.logo-text {
    padding-top: 12px;
  }
}

